
.layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: #ffffff !important; 
}

.sidebar {
  width: 260px;
  background: #ffffff !important; 
  color: #4b5563; 
  padding: 0;
  border-right: 1px solid #f3f4f6;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 0 10px rgba(0,0,0,0.02); 
}

.sidebar-header {
  padding: 24px;
  border-bottom: 1px solid #f3f4f6;
  margin-bottom: 10px;
  text-align: left; 
}

.logo-text {
  color: #4f46e5 !important; 
  font-weight: 900;
  font-size: 1.5rem;
}

.sidebar-menu a {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #4b5563;
  text-decoration: none;
  padding: 12px 16px;
  border-radius: 12px;
  transition: 0.2s ease;
  font-weight: 600 !important; 
  cursor: pointer;
}


.bg-indigo-50, 
.active-link {
  background-color: #f5f3ff !important;
  color: #4f46e5 !important;
  font-weight: 700 !important; 
}


.sidebar-menu a:hover {
  background: #f5f3ff;
  color: #4f46e5;
}


.main-content {
  flex: 1;
  background-color: #ffffff !important; 
  padding: 24px;
  min-height: 100vh;
}